{% extends 'base.html' %}

{% block content %}
    <div class="post-entry">
        <h1>
            {{post.title}}
        </h1>
        <small>
            By: {{post.author}}
            <a href="{% url 'post_update' post.pk %}">
                (Edit)
            </a>
            <a href="{% url 'post_delete' post.pk %}">
                (Delete)
            </a>
        </small>
    <br/>
    <hr>
    <br/>{{post.body}}
    </div>

    <br/><br/>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
{% endblock content %}